# Firebase Firestore Configuration
# Rename this file to .env and fill in your actual credentials.
# Vite will automatically load environment variables prefixed with VITE_

VITE_FIREBASE_API_KEY="AIzaSyAF2awGq_rQc8Ht8nb7AmuGGMh9_6FfS5Q"
VITE_FIREBASE_AUTH_DOMAIN="lost-found-portal-79084.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="lost-found-portal-79084"
VITE_FIREBASE_STORAGE_BUCKET="lost-found-portal-79084.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="282703864323"
VITE_FIREBASE_APP_ID="1:282703864323:web:9bafa35ca90dfd95ea6436"
